{% extends "_layouts/cp.twig" %}
{% import '_includes/forms.twig' as forms %}

{% set title = "Generate Images"|t('ai') %}
{% set selectedSubnavItem = 'images' %}

{% block content %}
    <form action="" method="post">
        {{ csrfInput() }}
        {{ actionInput('ai/image/create') }}
        {{ redirectInput('ai/images') }}

        <div class="flex gap-m">
            <div class="flex-grow">
                {{ forms.textField({
                    first: true,
                    label: 'Prompt',
                    name: 'prompt',
                    value: old('prompt'),
                    errors: [craft.app.session.getFlash('error.prompt')]|filter,
                }) }}
            </div>
            {{ forms.selectField({
                label: 'Volume',
                name: 'volume',
                value: old('volume'),
                options: craft.app.volumes.allVolumes|map(v => {label: v.name, value: v.handle}),
                errors: [craft.app.session.getFlash('error.volume')]|filter,
            }) }}
        </div>

        <p>
            {{ forms.submitButton({
                label: 'Generate',
            }) }}
        </p>
    </form>

    <hr>

    <div class="flex gap-l">
        {% for asset in assets %}
            <div>
                {% tag 'img' with {
                    src: asset.url,
                    width: 200,
                } %}{% endtag %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
