{% extends "_layouts/cp.twig" %}
{% import '_includes/forms.twig' as forms %}

{% do view.registerAssetBundle("markhuot\\craftai\\assetbundles\\CraftAi") %}
{% set title = "Generate Text"|t('ai') %}
{% set selectedSubnavItem = 'text' %}

{% block content %}
    <form action="" method="post" id="main-form">
        {{ csrfInput() }}
        {{ actionInput('ai/text/complete') }}
        {{ redirectInput('ai/text') }}

        <div class="flex gap-m">
            <div class="flex-grow">
                {{ forms.textField({
                    first: true,
                    label: 'Prompt',
                    name: 'content',
                    placeholder: 'Write a paragraph about how AI makes it easier to write content in Craft CMS.',
                    value: old('prompt'),
                    errors: [flash('error.prompt')]|filter,
                }) }}
            </div>
        </div>

        <div class="mt-l">
            {{ forms.submitButton({
                label: 'Generate',
                class: 'btn submit',
            }) }}
        </div>
    </form>

    <hr>

    <div class="">
        {{ craft.app.request.getParam('completion') }}
    </div>
{% endblock %}
