{% extends "_layouts/cp.twig" %}
{% import '_includes/forms.twig' as forms %}

{% do view.registerAssetBundle("markhuot\\craftai\\assetbundles\\CraftAi") %}
{% set title = "Generate Images"|t('ai') %}
{% set selectedSubnavItem = 'image.generate' %}

{% block content %}
    <form action="" method="post">
        {{ csrfInput() }}
        {{ actionInput('ai/image/store-generation') }}
        {{ redirectInput('ai/images/generate') }}

        <div class="flex gap-m">
            <div class="flex-grow">
                {{ forms.textField({
                    first: true,
                    label: 'Prompt',
                    name: 'prompt',
                    placeholder: 'two sea otters holding hands while swimming on their back',
                    value: old('prompt', prompt),
                    errors: [flash('error.prompt')]|filter,
                }) }}
            </div>
            {{ forms.selectField({
                label: 'Count',
                name: 'count',
                value: old('count', 2),
                options: [
                    {label: '4', value: 4},
                    {label: '2', value: 2},
                    {label: '1', value: 1},
                ],
                errors: [flash('error.count')]|filter,
            }) }}
            {{ forms.selectField({
                label: 'Volume',
                name: 'volume',
                value: old('volume'),
                options: craft.app.volumes.allVolumes|map(v => {label: v.name, value: v.handle}),
                errors: [flash('error.volume')]|filter,
            }) }}
        </div>

        <div class="ai-mt-l">
            <div class="btngroup">
                {{ forms.submitButton({
                    label: 'Generate',
                    class: 'btn submit',
                }) }}
                {{ forms.button({
                    label: '',
                    class: 'btn submit menubtn',
                }) }}
                <div class="menu">
                    <ul>
                        {% for backend in backends %}
                        <li>
                            {{ tag('a', {
                                text: 'Generate with ' ~ backend.name,
                                class: 'formsubmit',
                                data: {
                                    params: {'backend': backend.id}
                                }
                            }) }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </form>

    <hr>

    <div class="flex gap-l">
        {% for asset in assets %}
            <div>
                <a href="{{ asset.cpEditUrl }}">
                    {% tag 'img' with {
                        src: asset.url,
                        width: 200,
                    } %}{% endtag %}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
